
.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.image {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin-left: 30rem;
    margin-top: 4rem;
}
.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    top: 50%;
    left: 3px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease ;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s ;
    transform: scale(1.08);
}

@media(max-width: 380px) {
	.left-arrow {
        position: absolute;
        top: 60%;
        left: 2px;
        font-size: 3rem;
        color: #fff;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .right-arrow {
        position: absolute;
        top: 60%;
        right: -90px;
        font-size: 3rem;
        color: #fff;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .image {
        width: 300px;
        height: 500px;
        border-radius: 10px;
       
        margin-top: 7rem;
        margin-left: 4.5rem;
    }
}

